<ul class="breadcrumb">
	<li class="pri">Te encuentras en: </li>
	<li class="active">Admin</li>
</ul>

<div class="row-fluid">
	<div class="span9">
		{{#disponibles}}
		<ul class="nav nav-list lista_categoria">
			
			<li class="nav-header">{{categoria}} </a></li>
			{{#lista}}
				<li>
					<a href="/admin/{{adminName}}">{{modelName}}</a>
					<a href="/admin/{{adminName}}/-1" class="edit_mas"><i class="fa fa-plus"></i></a>
				</li>
			{{/lista}}
			
		</ul>
		{{/disponibles}}
	</div>
	 <div class="span3 visor_right"></div>
	
</div>