<!DOCTYPE html>
<html>
<head>
	<title>Mongo Admin</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/admin_assets/bootstrap/css/bootstrap.min.css">
	<script type="text/javascript" src="/admin_assets/js/jquery.js"></script>
	<script type="text/javascript" src="/admin_assets/bootstrap/js/bootstrap.min.js"></script>
	<style type="text/css">
	.well{
		width:500px;
		margin:50px auto;
	}
	.well img{
		margin-left: 100px;
	}
	h1{
		margin-bottom: 10px;
	}
	</style>
</head>
<body>
	<div class="well">
		<img src="/admin_assets/img/mongo.png">		
		<h1>Login</h1>
		{{#error}}
		<div class="alert alert-error">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<strong>Rayos y Centellas!</strong> {{error}}
		</div>
		{{/error}}
		<form method="post">
			<input class="span4" type="text" name="user" placeholder="usuario"><br>
			<input class="span4" type="password" name="pass" placeholder="contraseña"><br>
			<input type="submit" class="btn btn-primary" name="login" value="Ingresar">
		</form>
	</div>
</body>
</html>